<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Welcome to the Outfit Builder</h1>
    <a href="app/new">Create a New Outfit</a>
  </body>
</html>