<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Welcome to the Outfit Builder</h1>
   <nav><a href="app/new">Create a New Outfit</a> </nav> 

    <div id="container">
      <h2>Click image to view full outfit</h2>
        <% for(let i = 0; i < outfits.length; i++){ %>
        <div class="outfit" style="display: flex; flex-direction: column; margin-right: 10px; max-width: min-content;">          
               <a href="/app/<%=outfits[i].id %>"><img style= "max-width: 225px;" src="<%=outfits[i].top%>"> </a> 
                <%=outfits[i].user%> </br>
            </div>
        </br>
        <% } %>
    </div>
  </body>
</html>