<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
      <div id="container">
          <div id="sessioninfo"><div>Logged in as: <%=username%> &nbsp;</div><form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" style="color: #039be5;" value="Logout"/>
        </form></div>
        <div class="new">
    <h1>Let's create a new outfit!</h1>

    <form action="/app" method="POST">
        Hat/hair accessories: <input type="text" name="hat" /><br/>
        Top/dress: <input type="text" name="top" /><br/>
        Accessory: <input type="text" name="accs" /><br/>
        Bottoms: <input type="text" name="bottom" /><br/>
        Shoes: <input type="text" name="shoes" /><br/>
        Tags (occassion): <input type="text" name="tags" /><br/>
        User: <input type="text" name="user" value="<%=username%>"/>
        <input type="submit" name="" style="color: #039be5;" value="Create Outfit"/>
    </form>
      </div>
    </div>
  </body>
</html>